.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*

web/out/**
web/node_modules/**
web/src/**
web/.gitignore
web/.yarnrc
web/webpack.config.js
web/vsc-extension-quickstart.md
web/**/tsconfig.json
web/**/.eslintrc.json
web/**/*.map
web/**/*.ts
web/**/.vscode-test.*
web/.parcel-cache
